{% extends 'base.html.twig' %}
{% block title %} Liste des articles {% endblock %}
{% block body %}

<div class="container mt-5">
    <h1> Mon blog symfony </h1> 
    {% if articles is empty %}
        <p>Aucun aricle pour le moment.</p>
    {% else %}
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-test">{{ article.content|slice(0, 150) }}..</p>
                    <p class="text-muted">{{ article.publishedAt | date('d/m/Y')}}</p>
                    <a href="{{ path('article_show',{id:article.id}) }}" class="btn btn-primary">
                        Lire la suite
                    </a>
                    <a href ="{{ path('article_edit', {id:article.id})}}" class="btn btn-primary">Modifier</a>
                    
                    <!--Bouton meth Post avec confirmation Js -->
                    <form method="post" action="{{ path('article_delete',{id:article.id}) }}" style ="display:inline;"
                    onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article?');">
                        <button type="submit" class="btn btn-danger"> Supprimer</button>
                    </form>
                    
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock%}